#container 
    margin: 0 auto
    width: 400px
    height: 300px
    border: 1px dotted black
    display: flex
    flex-wrap: wrap
    over-flow: hidden


.small-divs 
    width: 5px
    height: 5px
    background-color: transparent

